<div class="landing-container">
  <!-- Language Toggle Section -->
  <div class="language-toggle">
    <label class="switch">
      <input
        type="checkbox"
        (change)="toggleLanguage($event)"
        [checked]="isHindi"
      />
      <span class="slider">
        <span class="icon-left">EN</span>
        <span class="icon-right">अ</span>
      </span>
    </label>
  </div>

  <!-- Search Tab -->
  <div class="search-container">
    <input
      type="text"
      class="search-input"
      placeholder="{{ isHindi ? 'खोजें...' : 'Search...' }}"
      (click)="clearLandingContent()"
      [(ngModel)]="searchQuery"
      (input)="performSearch()"
    />
    <div class="clear-btn" (click)="clearSearch()">
      <i class="fas fa-close"></i>
    </div>
  </div>

  <!-- Landing Card -->
  <div *ngIf="!isSearchMode" class="landing-card" (click)="navigateToFamilyTree()">
    <h1>
      <span>{{ isHindi ? 'मोदानी परिवार' : 'Modani Family' }}</span>
    </h1>
  </div>

  <!-- Extra Information -->
  <div *ngIf="!isSearchMode" class="extra-card">
    <h3>
      <span>{{ isHindi ? 'कुल देवता - साँवरीया सेठ (बोड़वा)' : 'Kul Devata - Sanwariyan Seth (Bodwa)' }}</span><br />
      <span>{{ isHindi ? 'कुल देवी - चामुँडा माताजी' : 'Kul Devi - Chamunda Mataji ' }}</span><br />
      <span>{{ isHindi ? 'साडांस गोत्र' : 'Saadaans Gotra' }}</span>
    </h3>
  </div>

  <div *ngIf="selectedPerson" class="tree-container">
    <div *ngIf="parentPerson" class="card tree-parent-card">
      <h3>{{ parentPerson.name}}</h3>
    </div>

    <div class="card tree-selected-card">
      <h3>{{selectedPerson.name}}</h3>
    </div>

    <div *ngIf="childPersons.length > 0" class="tree-child-container">
      <div class="child-card" *ngFor="let child of childPersons">
        <h3>{{ child.name }}</h3>
      </div>
    </div>
  </div>

  <!-- Search Results -->
  <div *ngIf="isSearchMode && searchResults.length > 0" class="results-container">
    <div
      *ngFor="let result of searchResults"
      class="result-card"
      (click)="onResultClick(result)">
      <h3>{{ result.name }}</h3>
    </div>
  </div>

  <!-- Footer Section -->
  <div *ngIf="!isSearchMode" class="footer">
    <span>{{ isHindi ? 'रोहित प्रकाश मोदानी द्वारा निर्मित, बेंगलुरु, 2024' : 'Created by Rohit Prakash Modani, Bengaluru, 2024' }}</span>
  </div>
</div>
