<div class="app-container">
  <!-- Breadcrumb Section -->
  <div class="breadcrumb-container">
    <div class="home-button" (click)="navigateToLanding()">
      <i class="fas fa-home"></i>
    </div>
    <div class="breadcrumbs">
      <span
        *ngFor="let breadcrumb of breadcrumbs; let i = index"
        (click)="navigateToBreadcrumb(i)"
        [class.active]="i === breadcrumbs.length - 1"
        [id]="'breadcrumb-' + i"
      >
        {{ getBreadcrumbMemberName(breadcrumb) }}
      </span>
    </div>
  </div>

  <!-- Skeleton Loader Section -->
  <div *ngIf="!currentMember; else familyTreeContent" class="skeleton-container">
    <div class="card skeleton"></div>
    <div class="child-card skeleton" *ngFor="let n of [1, 2, 3, 4]"></div>
  </div>

  <!-- Family Tree Content -->
  <ng-template #familyTreeContent>
    <div class="family-tree-container">
      <!-- Parent Card with Click Event -->
      <div class="card parent-card" (click)="navigateToParent()">
        <h1>{{ getMemberName(currentMember!) }}</h1>
      </div>

      <!-- Child Cards with Connection Lines -->
      <div class="child-cards-container">
        <div
          class="child-card"
          *ngFor="let child of currentMember?.children?.childList"
          [ngClass]="{ 'disabled': !child?.children?.childList?.length }"
          (click)="!child?.children?.childList?.length || selectChild(child)"
        >
          <h3>{{ getMemberName(child) }}</h3>
        </div>
      </div>

      <!-- Additional Card for Nand Ram Ji -->
      <div class="extra-card" *ngIf="currentMember?.name === 'Nand Ram Ji'">
        <h3>
          {{ isHindi ? 'पुराना पेढ़ी (दुकान)' : 'Old Peddi (Shop)' }}
        </h3>
        <p>
          {{ isHindi ? 'नंदराम मुलचंद: बंबई' : 'Nandram Mulchand: Bombay' }}
        </p>
        <p>
          {{ isHindi ? 'मय्याराम मुलचंद: बारसी, लातूर, मदनूर (महाराष्ट्र) और हैदराबाद' : 'Mayyaram Mulchand: Barsi, Latur, Madnoor (Maharashtra) & Hyderabad' }}
        </p>
      </div>

      <!-- Additional Card for Sabla Ji -->
      <div class="extra-card" *ngIf="currentMember?.name === 'Pukh Lal Ji'">
        <h3>
          {{ isHindi ? 'सन् 1879 में बोड़वा से मुंडवा आ गये' : 'In era 1879 shifted from Bodwa to Mundawa' }}
        </h3>
      </div>
    </div>
  </ng-template>

  <!-- Floating Action Button -->
  <button class="fab" (click)="navigateToRoot()">&#8593;</button>
</div>
